#app {
  display: flex;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f5de13f3;
  padding-top: .5rem;
  margin-top: .75rem;
  background-color: rgb(245, 117, 138);
  background-position: cover;
  background-size: vh 100%;
  border-radius: 5%;
  justify-content: center;
}

html {
  background-color: rgb(177, 177, 255);
}

.main {
  height: 35rem;
  justify-content: center;
}

h1 {
  margin-top:.5rem;
}

.post {
  justify-content: center;

  border-radius: 5%;
  height: 5rem;  
  width: 15rem;
    background-color: aliceblue;
}

.comments {
  justify-content: center;

  border-radius: 5%;
  height: 10rem;
  width: 25rem;
    background-color: aliceblue;
}